<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin
            name="cardlink_hide_void_button_when_not_voidable"
            type="Cardlink\Checkout\Plugin\Sales\Adminhtml\Order\View\HideVoidButtonPlugin"
            sortOrder="50"
        />
    </type>

    <type name="Cardlink\Checkout\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="const">Cardlink\Checkout\Model\Config\Settings::CODE</item>
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>

    <type name="Cardlink\Checkout\Block\InfoIris">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="const">Cardlink\Checkout\Model\Config\SettingsIris::CODE</item>
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>

    <type name="Cardlink\Checkout\Block\InfoGooglePay">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="code" xsi:type="const">Cardlink\Checkout\Model\Config\SettingsGooglePay::CODE</item>
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>

</config>
