<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cardlink_checkout>
                <model>CardlinkCheckoutFacade</model>
                <active>1</active>
                <debug>0</debug>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <sort_order>1</sort_order>

                <!-- Magento Payment Gateway settings -->
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <!-- <can_initialize>1</can_initialize> -->
                <!-- <can_authorize>1</can_authorize> -->
                <!-- <can_capture>1</can_capture> -->
                <!-- <can_capture_partial>1</can_capture_partial> -->
                <!-- <can_authorize_vault>1</can_authorize_vault> -->
                <!-- <can_capture_vault>1</can_capture_vault> -->
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>0</can_deny_payment>

                <!-- custom -->
                <title>Pay through Cardlink</title>
                <display_payment_method_logo>1</display_payment_method_logo>
                <description>Pay via Cardlink: Accepts Visa, Mastercard, Maestro, American Express, Diners, Discover.</description>
                <merchant_id></merchant_id>
                <shared_secret></shared_secret>
                <business_partner>cardlink</business_partner>
                <transaction_environment>sandbox</transaction_environment>
                <transaction_type>capture</transaction_type>
                <accept_installments>0</accept_installments>
                <max_installments>12</max_installments>
                <allow_tokenization>0</allow_tokenization>
                <force_store_language>1</force_store_language>
                <log_debug_info>0</log_debug_info>
                <canceled_order_expiration>10</canceled_order_expiration>
                <hold_stock_order>1</hold_stock_order>

            </cardlink_checkout>

            <cardlink_checkout_iris>
                <model>CardlinkCheckoutIrisFacade</model>
                <active>0</active>
                <debug>0</debug>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <sort_order>2</sort_order>

                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>0</can_deny_payment>

                <title>Pay via IRIS</title>
                <display_payment_method_logo>1</display_payment_method_logo>
                <description>Pay via IRIS.</description>
                <log_debug_info>0</log_debug_info>
                <merchant_id></merchant_id>
                <shared_secret></shared_secret>
                <business_partner>cardlink</business_partner>
                <transaction_environment>sandbox</transaction_environment>
                <dias_code></dias_code>
                <canceled_order_expiration>10</canceled_order_expiration>
                <hold_stock_order>1</hold_stock_order>
            </cardlink_checkout_iris>

        </payment>
    </default>
</config>
