<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="route" xsi:type="string">/cardlink_checkout/</item>
            </argument>
        </arguments>
    </type>

    <!-- ////////////////////////////////////////////////////////// -->

    <virtualType name="CardlinkCheckoutFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Cardlink\Checkout\Model\Config\Settings::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Cardlink\Checkout\Block\Form\Payment</argument>
            <argument name="infoBlockType" xsi:type="string">Cardlink\Checkout\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">CardlinkCheckoutValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">CardlinkCheckoutValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CardlinkCheckoutConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CardlinkCheckoutConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Cardlink\Checkout\Model\Config\Settings::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>

    <!-- ////////////////////////////////////////////////////////// -->

    <virtualType name="CardlinkCheckoutIrisFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Cardlink\Checkout\Model\Config\SettingsIris::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Cardlink\Checkout\Block\Form\Payment</argument>
            <argument name="infoBlockType" xsi:type="string">Cardlink\Checkout\Block\InfoIris</argument>
            <argument name="valueHandlerPool" xsi:type="object">CardlinkCheckoutIrisValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">CardlinkCheckoutIrisValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutIrisValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">CardlinkCheckoutIrisConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutIrisConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">CardlinkCheckoutIrisConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutIrisConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Cardlink\Checkout\Model\Config\SettingsIris::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="CardlinkCheckoutIrisValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>

    <!-- ////////////////////////////////////////////////////////// -->

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="cardlink_checkout" xsi:type="object">Cardlink\Checkout\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- ////////////////////////////////////////////////////////// -->

    <type name="Cardlink\Checkout\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Cardlink\Checkout\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Cardlink_Checkout_Custom_Log</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Cardlink\Checkout\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Payment\Model\Method\InstanceFactory">
        <arguments>
            <argument name="methods" xsi:type="array">
                <item name="cardlink_checkout" xsi:type="string">CardlinkCheckoutFacade</item>
                <item name="cardlink_checkout_iris" xsi:type="string">CardlinkCheckoutIrisFacade</item>
            </argument>
        </arguments>
    </type>

    <!-- ////////////////////////////////////////////////////////// -->

    <!-- already present in your module -->
    <type name="Magento\CatalogInventory\Helper\Stock">
        <plugin name="cardlink_guard_instock_once" type="Cardlink\Checkout\Plugin\CatalogInventory\Helper\StockPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\CatalogInventory\Model\ResourceModel\Stock\Status">
        <plugin name="cardlink_guard_stock_status_once" type="Cardlink\Checkout\Plugin\CatalogInventory\ResourceModel\Stock\StatusPlugin" sortOrder="1"/>
    </type>

    <!-- NEW: guard MSI resource joins -->
    <type name="Magento\InventoryCatalog\Model\ResourceModel\AddStockDataToCollection">
        <plugin name="cardlink_guard_msi_add_stock_data" type="Cardlink\Checkout\Plugin\InventoryCatalog\ResourceModel\AddStockDataToCollectionPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\InventoryCatalog\Model\ResourceModel\AddIsInStockFilterToCollection">
        <plugin name="cardlink_guard_msi_add_instock_filter" type="Cardlink\Checkout\Plugin\InventoryCatalog\ResourceModel\AddIsInStockFilterToCollectionPlugin" sortOrder="1"/>
    </type>

</config>
