<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="payment_method_assign_data_cardlink_checkout">
        <observer name="cardlink_checkout_save_custom_fields_to_quote_payment" instance="Cardlink\Checkout\Observer\SaveCustomFieldsToQuotePayment"/>
    </event>

    <event name="sales_model_service_quote_submit_before">
        <observer name="cardlink_checkout_orderpaymentsavebefore" instance="Cardlink\Checkout\Observer\OrderPaymentSaveBefore" />
    </event>

</config>
