<div class="payment-method" id="cardlink_checkout--payment-method"
    data-bind="css: {'_active': (getCode() == isChecked()) }">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content cardlink_checkout--payment-method-content">

        <!-- ko if: canDisplayLogoInTitle() -->
        <img data-bind="attr: {src: getLogoUrl(), alt: $t(getTitle())}" id="cardlink_checkout--payment-method-logo" />
        <!-- /ko -->

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!-- /ko -->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!-- /ko -->
        </div>

        <form id="cardlink-checkout-options-form" class="form form-cardlink-checkout-options-order"
            data-role="cardlink-checkout-options-form">
            <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>

                <!-- ko if: acceptsInstallments() -->
                <!-- ko if: (maxInstallments = getMaxInstallments()) > 1 -->
                <div class="field field-number required">
                    <label for="cardlink_installments" class="label"
                        data-bind="text: $t('Number of Installments')"></label>
                    <div class="control">
                        <div class="name-info">
                            <select id="cardlink_installments" name="payment[cardlink_installments]"
                                data-validate="{ required:true }"
                                data-bind="attr: { title: $t('Number of Installments') }, value: cardlinkInstallments, options: [...Array(maxInstallments).keys()], optionsValue: function(item){return item + 1;}, optionsText: function(item){return item + 1;}">
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if: allowsTokenization() -->
                <!-- ko if: hasStoredTokens() -->
                <div class="field required">
                    <label for="payment[cardlink_stored_token]" class="label"
                        data-bind="text: $t('Stored Cards')"></label>
                    <div>
                        <dl>
                            <!-- ko foreach: { data: getStoredTokens(), as: 'storedToken' } -->
                            <dt
                                data-bind="attr: {'id': 'cardlink_stored_token_' + storedToken.entityId + '_container'}">

                                <input type="radio" class="radio cardlink_checkout_token_option"
                                    name="payment[cardlink_stored_token]" data-bind="click: function() { return $parent.checkStoredTokenSelection(storedToken.entityId); }, 
                                    clickBubble: false, 
                                    attr: {checked: $parent.getDefaultStoredTokenId() == storedToken.entityId, 
                                        id: 'cardlink_stored_token_' + storedToken.entityId
                                    },
                                    value: storedToken.entityId" />

                                <div class="cardlink_checkout--stored-card-container">
                                    <label data-bind="attr: {
                                        for: 'cardlink_stored_token_' + storedToken.entityId
                                    }">
                                        <!-- ko if: (cardTypeData = $parent.getCardTypeData()[storedToken.type]) != null -->
                                        <img class="cardlink_checkout--card-type-image"
                                            data-bind="attr: {src: cardTypeData.url, alt: cardTypeData.title, width: cardTypeData.width, height: cardTypeData.height }" />
                                        <!-- /ko -->

                                        <div data-bind="class: $parent.getStoredTokenClass">
                                            <span class="cardlink_checkout--card-pan"
                                                data-bind="text: $t('xxxx-') + storedToken.maskedCC"></span>
                                            <br />
                                            <span class="cardlink_checkout--card-expiry-date"
                                                data-bind="text: storedToken.expirationDate">
                                            </span>
                                            <!-- ko if: storedToken.isExpired -->
                                            <span class="cardlink_checkout--card-expiry-note"
                                                data-bind="text: $t('Expired')"></span>
                                            <!-- /ko -->
                                        </div>
                                    </label>

                                </div>
                            </dt>
                            <!-- /ko -->

                            <dt>
                                <input type="radio" name="payment[cardlink_stored_token]"
                                    class="radio cardlink_checkout_token_option" id="cardlink_stored_token_0" value="0"
                                    data-bind="click: function() { return checkStoredTokenSelection(0); },
                                    clickBubble: false,
                                    attr: {
                                        checked: getDefaultStoredTokenId() == 0
                                    }" />
                                <div class="cardlink_checkout--stored-card-container">
                                    <label for="cardlink_stored_token_0" data-bind="text: $t('New Card')"></label>
                                </div>
                            </dt>

                        </dl>
                    </div>
                </div>
                <!-- /ko -->

                <div id="cardlink_checkout--tokenize-container" class="field">
                    <input type="checkbox" id="cardlink_tokenize_card" name="payment[cardlink_tokenize_card]" value="1"
                        data-bind='checked: cardlinkTokenizeCard, 
                        attr: {
                            title: $t("Securely store card")
                        }, ' />
                    <label for="cardlink_tokenize_card" class="label">
                        <span data-bind="text: $t('Securely store card')"></span>
                    </label>
                </div>

                <span
                    data-bind="afterRender: function() { if (getActiveStoredTokens().length > 0) { hideStoreTokenOption(); } }"></span>

                <!-- /ko -->

            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!-- /ko -->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit" data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())" disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="cardlink_checkout--modal">
        <!-- Modal content -->
        <div id="cardlink_checkout--modal-content">
            <iframe id="cardlink_checkout--modal-iframe" src=""></iframe>
        </div>
        <!-- Modal content -->
    </div>
    <!-- Modal -->

</div>